@use "/src/styles/mixins" as *;
@use "/src/styles/variables" as *;

.page {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

    width: 100%;
    min-height: 100%;

    &--loading {
        justify-content: center;
    }

    > * {
        max-width: $breakpoint-tablet;
    }

    a {
        color: $colors-external-link;
        font-weight: $font-weight-bold;
        text-decoration: underline;
    }
}
