@use "src/styles/variables" as *;
@use "src/styles/functions" as *;

.container {
    &--fixed {
        position: sticky;
        top: 0;
        z-index: 10;
    }
}

.header {
    display: grid;
    align-items: center;
    justify-items: center;
    column-gap: $spacing-small;

    padding: $spacing-small $spacing-mini;
    background-color: colorOpaque($colors-primary, dd);

    color: $colors-white;

    &.full {
        grid-template-columns: 1fr auto;

        &--backNavigation {
            grid-template-columns: auto 1fr auto;
        }
    }

    &.band {
        &--backNavigation {
            grid-template-columns: 50px 1fr 50px;

            .icon {
                justify-self: start;
            }
        }
    }
}

.logo {
    margin: 0;

    font-size: $font-size-medium;

    span {
        font-size: $font-size-mini;
        color: colorOpaque($colors-white, aa);
    }
}
