@use "src/styles/variables" as *;
@use "src/styles/functions" as *;

.container {
    &--fixed {
        position: sticky;
        top: 0;
        z-index: 10;
    }
}

.header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    justify-items: center;
    column-gap: $spacing-small;

    padding: $spacing-small $spacing-mini;
    background-color: colorOpaque($colors-primary, dd);

    color: $colors-white;

    &--backNavigation {
        grid-template-columns: auto 1fr auto;
    }
}

.logo {
    margin: 0;

    font-size: $font-size-medium;

    &:focus {
        outline: none;
    }

    &:hover,
    &:focus {
        text-shadow: 1px 1px 2px $colors-white;
    }

    span {
        font-size: $font-size-mini;
        color: colorOpaque($colors-white, aa);
    }
}
