@use "/src/styles/variables" as *;

.list {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: $spacing-small;
}

@mixin band-card-position {
    max-width: 100%;
    margin: 0 $spacing-huge;
}

.band {
    @include band-card-position;
}

.divider {
    @include band-card-position;
    height: 2px;
    background-color: $colors-gray-lighter;
}

.empty {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: $colors-gray-light;

    &__title {
        font-weight: $font-weight-bold;
    }

    &__icon {
        position: relative;
        font-size: 200px;
        transform: rotatey(180deg);

        &::after {
            content: ":(";
            position: absolute;

            top: 109px;
            left: 118px;

            font-size: 50px;
            transform: rotateZ(90deg);
        }
    }
}
